.pages
  .home
    .container.text-xs-center
      %h2 Welcome
      %h3 Ruby on Rails Starterkit
      %p.lead The easiest & fastest way to start a new rails project
      %p Ruby 2.3.1 / Rails 5.0.0
      = link_to "Download", "https://github.com/norbertforman/ruby-on-rails-starterkit", target: "_blank", class: "btn btn-primary-outline btn-lg"
      %br
      %br
      %p The Starterkit contains the following functionalities by default:
      %ul.list-group
        %li.list-group-item
          = link_to "Devise - flexible authentication solution", "https://github.com/plataformatec/devise", target: "_blank"
        %li.list-group-item
          = link_to "Active Admin - administration framework", "https://github.com/activeadmin/activeadmin", target: "_blank"
        %li.list-group-item
          = link_to "Bootstrap - for building responsive, mobile-first projects", "http://v4-alpha.getbootstrap.com/", target: "_blank"
